body {
  text-align: center;
}

.people--list {

}

.people--list ul {
  list-style: none;
}

.people--logo {
  width: 100px;
  margin-top: 20px;
}

.people--pic {
  border-radius: 100%;
}

.people--name {
  text-transform: capitalize;
}
