body {
  text-align: center;
  background-color: #f1f1f1;
}

header{
  background-color: #fff;
  padding-bottom: 10px;
}

.people-title {
  margin: 0;
  font-size: 34px;
}

.people--list {
  padding: 30px 0;
}

.people--list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.people--logo {
  width: 100px;
  margin-top: 20px;
}

.people--pic {
  border-radius: 100%;
  width: 150px;
}

.people--name {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 10px;
  display: block;
}

.people--email {
  font-size: 15px;
  margin-top: 10px;
  display: block;
}

.btn-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
}

.btn-section .btn {
  width: 30%;
  padding-right: 5px;
  padding-left: 5px;
}
